a{
    font-family: monospace;
    text-decoration: none;
    color: blueviolet;
    font-size: 15px;
}
body{
    background-color:salmon;
}
p{
    font-size: 18px;
    display: inline;
}
.space{
    height: 100px;
    width: 200px;
}
.space2{
    height: 100px;
    width: 250px;
    display: inline-block;
}
.wrap{
    display: flex;
}
.me{
    font-family: monospace;
    font-size: 18px;
    width: 25%;
    display: inline-block;
    height: 100px;
    position: relative;

}
.bio{
    font-family: monospace;
    font-size: 18px;
    width: 25%;
    display: inline-block;
    height: 100px;
    position: static;
    display: inline-block;
}
.etc{
    font-family: monospace;
    font-size: 20px;
}